.mention {
    padding: 10px;
    overflow: hidden;
    font: 12px -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: #39739d;
    background-color: #e1ecf4;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.mention a {
    font-weight: 600;
    color: #39739d;
    text-decoration: none;
}


.klipse-snippet-wrapper {
    overflow: auto;
    word-wrap: normal;
}

.CodeMirror {
    font-family: 'FiraCode', monospace;
}

.klipse-result .CodeMirror {
    border-top: 0;
}

.klipse-snippet > .CodeMirror {
    border-radius: 2px 2px 0px 0px;
}


